body
{
	color: #00008B;
	background-color: #ffffd7;
	margin: 1%;
	padding: 1%;
	border-style: groove;
	border-width: medium;
	border-color: #8b000e;
	font-family: font-family: Tahoma, Geneva, sans-serif;
	font-size: medium;
	line-height: normal;
	text-align: justify;
	width: 95%;
	clear: both;
	position: relative;
	right: auto;
	left: auto;
}

a:link {color: #620006;
text-decoration: none;
 }

a:hover { }


.posttitle {font-family: Tahoma, Geneva, sans-serif;
font-size: large;
color: #9c8603;
}

.postbody
{
	font-family: Tahoma, Geneva, sans-serif;
	color: #00008B;
	/*     font-size: 1.em; */
	line-height: 300%;
}

.postexcerpt {
font-family: Tahoma, Geneva, sans-serif;
font-size: medium;
color: #00008B;
}

h1 {color: #09629b;
font-family: "Tahoma", sans-serif;
font-size: xx-large;
font-weight: normal;
 }

h2 {color: #09629b;
font-family: "Tahoma", sans-serif;
font-size: x-large;
font-weight: normal;
 }

h3 {color: #09629b;
font-family: "Tahoma", sans-serif;
font-size: large;
font-weight: normal;
 }

h4 {color: #09629b;
font-family: serif;
font-size: medium;
font-weight: bold;
font-style: italic;
 }

h5 {color: #09629b;
font-family: serif;
font-size: medium;
font-weight: normal;
font-style: italic;
 }