<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"  
    xml:lang="en" lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="en" />
    <link rel="stylesheet" href="{{ site.url }}/css/main.css" type="text/css"
  </head>
  <body  style="background-image: url(&quot;{{ site.image_path }}index_bg.jpg&quot;);">
  {% if page.page_image contains ".jpg" or page.page_image contains ".png" %}
    <p align="center"><img src={{ site.image_path }}{{ page.page_image }}></p>
  {% else %}
    <h1 align="center">{{ page.title }}</h1>
  {% endif %} 
    <p style="text-align: center; font-size: 1.1em;"><a href="https://yildizoglu.fr">Murat Yildizoglu</a></p>
    <div id="container">
      {{ content }}
    </div>
<hr>
<p align='center' style="font-size:small"> (c) <a href="https://yildizoglu.fr">Murat Yildizoglu</a>, 2009 - {{ site.time | date: '%Y' }}</p>
  </body>
</html>