<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"  
    xml:lang="en" lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.url }}/css/main4-navy.css" type="text/css"
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap" rel="stylesheet">
	<link rel="icon" type="image/x-icon" href="/images/icon-tips-tricks-thought.ico">
  </head>
  <body  style="background-image: url(&quot;{{ site.image_path }}index_bg.jpg&quot;);">
  
  <div class="container">
    {% if page.page_image contains ".jpg" or page.page_image contains ".png" %}
      <p align="center"><img src="{{ site.image_path }}{{ page.page_image }}" alt="{{ page.title }}" class="img-fluid"></p>
    {% else %}
<!--       <h1 align="center" class="posttitle">{{ page.title }}</h1> -->
            <div align="center" class="posttitle-main">{{ page.title }} <br><font size:70%><a href="https://yildizoglu.fr" class="author-link">Murat Yildizoglu</a></font></div>
    {% endif %} 
<!-- 
    <p style="text-align: center; font-size: 1.2em; width: 100%;">
      
    </p>
 -->
    <div class="container">
      {{ content }}
    </div>
    <footer>
      <hr>
      <p align='center' class="footer-text">
        &copy; <a href="https://yildizoglu.fr" class="author-link">Murat Yildizoglu</a>, 2009 - {{ site.time | date: '%Y' }}
      </p>
    </footer>
  </div>
  </body>
</html>