---
layout: default
---
      <div class="entry-content">
        <span><p align="center">Published: {{ page.date | date: '%Y' }}/{{ page.date | date: '%m' }}/{{ page.date | date: '%d' }}</span>
                 <hr>
        <article class="post">
 		 {{ content }}
		</article>
      </div>
      <hr>
    <table id="lastposts-table"  style="align: center;">
    <tr width: 80%;">
      <td>
      <ul>
      <H3>Last five articles</H3>
      {% for post in site.posts limit:5 %}
    <li>
      <div style="size: medium"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}}</a></div>
    </li>
  {% endfor %}
</ul>
      </td>
      </tr>
      </table>
      

      <hr>
      <p align="right"><a href="https://myildi.github.io/">Back to the complete table of contents</a></p>